body{
    font-family: Arial, Helvetica, sans-serif;
    margin:25px;
    background-color: rgb(94, 255, 0);
    color:#9c39ff;
    font-weight: 500;
    background: linear-gradient(rgb(0, 174, 255), #e5fafc);

}

h1{
    color:rgb(94, 255, 0);
    background-color: #9c39ff;
    padding: 20px;
    margin: 20px;
    width: 600px;
}
#nb img{
    border-radius: 50%;
}
.btn {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #3e8e41;
    color: white;
  }

  .container {
    position: relative;
    width: 25%;
  }
  
  .image {
    display: block;
    width: 50%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #ba0000;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: 1.0s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 10%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text1 {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 30%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text2 {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text3 {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 70%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text4 {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 90%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  * {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

.asb img:hover {
    transform: scaleX(-1);
}
.container-a {
    position: relative;
    width: 50%;
  }
  
  .image-a {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay-a {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e9ff20;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container-a:hover .overlay-a {
    width: 100%;
  }
  
  .text-a {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }